:root {
    box-sizing: border-box;
    /* Primary Palette */
    --color-primary: #FF2253;
    --color-primary-50: #FFE9EE;
    --color-secondary: #4ACA94;
    --color-secondary-50: #E4F7EF;

    /* Product Palette */
    --product-1: #EEF6FF;
    --product-2: #FFF7F4;
    --product-3: #FFE4EA;
    --product-4: #F3EEF5;

    /* Grey Scale Palette */
    --grey-1: #F8F9FA;
    --grey-2: #E9ECEF;
    --grey-3: #868E96;
    --grey-4: #212529;
    --white: #FFFFFF;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 375px;
    height: 1189px;
    background-color: var(--white);
    border-radius: 10px;
}

.logoContainer__logo {
    box-sizing: border-box;
    position: absolute;
    width: 123px;
    height: 46px;
    left: 17px;
    top: 21px;
}

.header__searchContainer {
    box-sizing: border-box;
    position: absolute;
    width: 343px;
    height: 54px;
    left: 17px;
    top: 82px;
}

.searchContainer__input {
    box-sizing: border-box;
    position: absolute;
    width: 343px;
    height: 54px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: var(--grey-1);
    border: 1.65px solid var(--grey-1);
    box-sizing: border-box;
    border-radius: 33px;

    font-size: 14px;
    line-height: 18px;
    color: var(--grey-3);
    padding-left: 15px;
}

.searchContainer__button {
    box-sizing: border-box;
    position: absolute;
    width: 44px;
    height: 44px;
    left: 85.21%;
    right: 1.93%;
    top: 10.2%;
    bottom: 8.16%;
    background-color: var(--color-primary-50);
    color: var(--color-primary);
    border: 1.65px solid var(--grey-1);
    box-sizing: border-box;
    border-radius: 50%;
}

.searchContainer__button:hover {
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--white);
    cursor: pointer;
}

.nav__filterContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    overflow: auto;
    width: 350px;
    height: 65px;
    left: 18px;
    top: 153px;
}

.btn__icon {
    box-sizing: border-box;
    position: relative;
    right: 10px;
}

.filterContainer__btn--todos,
.filterContainer__btn--panificadora,
.filterContainer__btn--frutas,
.filterContainer__btn--bebidas {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 15px;
    margin: 0px 22px 0px 0px;
    box-sizing: border-box;
    border-radius: 30px;

    flex: none;
    flex-grow: 0;
}

.filterContainer__btn--todos {
    box-sizing: border-box;
    order: 0;
    width: 72px;
    background-color: var(--grey-1);
    border: 1.5px solid var(--grey-1);
}

.filterContainer__btn--panificadora {
    box-sizing: border-box;
    order: 1;
    width: 148px;
    background-color: var(--product-2);
    border: 1.5px solid var(--product-2);
}

.filterContainer__btn--frutas {
    box-sizing: border-box;
    order: 2;
    width: 108px;
    background-color: var(--product-3);
    border: 1.5px solid var(--product-3);
}

.filterContainer__btn--bebidas {
    box-sizing: border-box;
    order: 3;
    width: 118px;
    background-color: var(--product-4);
    border: 1.5px solid var(--product-4);
}

.btn--categoria:hover {
    box-sizing: border-box;
    border: 1.5px solid var(--grey-4);
    cursor: pointer;
}

.section__productsContainer {
    box-sizing: border-box;
    position: absolute;
    overflow: auto;
    width: 350px;
    height: 380px;
    left: 18px;
    top: 230px;
}

.productsContainer__list {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.productsContainer__list--footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.productsContainer__list li {
    box-sizing: border-box;
    margin-right: 20px;
}

.productsContainer__list li .imgProduto {
    box-sizing: border-box;
    border: 3px solid var(--color-primary-50);
    border-radius: 8px;
}

.productsContainer__list li .panqueca {
    box-sizing: border-box;
    border-radius: 8px;
}

.productsContainer__list li .imgProduto:hover,
.panqueca:hover {
    box-sizing: border-box;
    border: 3px solid var(--color-primary);
}

.panqueca {
    width: 300px;
    height: 200px;
}

.productsContainer__list span {
    box-sizing: border-box;
    font-size: 17px;
    font-weight: bold;
    line-height: 27px;
}

.productsContainer__list p {
    box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
    color: var(--grey-3);
}

.productsContainer__list button {
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    background-color: var(--color-secondary-50);
    border: 1.65px solid var(--grey-1);
    color: var(--color-secondary);
    box-sizing: border-box;
    border-radius: 50%;
}

.productsContainer__list button:hover {
    box-sizing: border-box;
    background-color: var(--color-secondary);
    color: var(--white);
    cursor: pointer;
}

.aside__cartContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 342px;
    height: 499px;
    top: 616px;
    left: 18px;
    margin: 20px 0px;
}

.cartContainer__header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 342px;
    height: 59px;

    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
    background-color: var(--color-primary);
    color: var(--white);
    border-radius: 14px 14px 0px 0px;
    margin-bottom: 5px;
}

.cartContainer__header span {
    box-sizing: border-box;
    margin-left: 25px;
}

.fa-cart-arrow-down {
    box-sizing: border-box;
    margin-left: 25px;
}

.aside__cartContainer--full {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 342px;
    height: 432px;

    background-color: var(--white);
}

.cartContainer__list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 410px;
    width: 350px;
}

.cartContainer__list li {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 85%;
}

.cartContainer__list--description {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
}

.cartContainer__list img {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    border-radius: 8px;
}

.product__title {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    width: 200px;
}

.product__category {
    box-sizing: border-box;
    font-size: 10px;
    color: var(--grey-3);
    line-height: 25px;
}

.product__price {
    box-sizing: border-box;
    font-size: 12px;
    color: var(--grey-4);
    line-height: 25px;
}

.cartContainer__trash {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 1.65px solid var(--grey-1);
    background-color: var(--grey-1);
    color: var(--grey-3);
    cursor: pointer;
    font-size: 13.5px;
}

.cartContainer__trash:hover {
    color: var(--color-primary);
}

.aside__cartContainer--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 432px;
    background-color: var(--grey-1);
}

.aside__cartContainer--empty span {
    box-sizing: border-box;
    width: 218px;

    text-align: center;
    color: var(--grey-3);
}

.cart__icon {
    box-sizing: border-box;
    margin-bottom: 25px;
}

.list--span1 {
    box-sizing: border-box;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 25px;
}

.list--span2 {
    box-sizing: border-box;
    font-size: 15px;
}

.footer__quantity {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 342px;
    height: 59px;
    background-color: var(--grey-1);
    font-weight: bold;
}

.footer__quantity span {
    box-sizing: border-box;
    margin: 0px 25px;
}

.footer_total {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 342px;
    height: 59px;
    background-color: var(--white);
    font-weight: bold;
}

.footer_total span {
    box-sizing: border-box;
    margin: 0px 25px;
}

.div__centralizar--categoria {
    border-radius: 20px;
    display: flex;
    width: 133px;
    height: 30px;
    position: relative;
    bottom: 20px;
    left: 12px;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
}

.div__centralizar--categoria span {
    font-size: 12px;
    font-weight: 500;
}

.div__centralizar--categoria img {
    border: 3px solid transparent;
    box-sizing: border-box;
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    body {
        box-sizing: border-box;
        flex-direction: row;
        width: 1500px;
        margin: 50px;
    }

    .logoContainer__logo {
        box-sizing: border-box;
        left: 0px;
        top: 0px;
    }

    .header__searchContainer {
        box-sizing: border-box;
        left: 80%;
        top: 0;
    }

    .nav__filterContainer {
        box-sizing: border-box;
        overflow: inherit;
        left: 0px;
        top: 100px;
    }

    .section__productsContainer {
        box-sizing: border-box;
        overflow: inherit;
    }

    .productsContainer__list li:nth-child(4) {
        box-sizing: border-box;
        position: absolute;
        width: 300px;
        left: 0px;
        top: 400px;
    }

    .productsContainer__list li:nth-child(5) {
        box-sizing: border-box;
        position: absolute;
        width: 300px;
        left: 320px;
        top: 400px;
    }

    .productsContainer__list li:nth-child(6) {
        box-sizing: border-box;
        position: absolute;
        width: 300px;
        left: 640px;
        top: 400px;
    }

    .aside__cartContainer {
        box-sizing: border-box;
        left: 80%;
        top: 80px;
    }
}